<% include ./partials/header.ejs %>
<div class="container">
    <%= user.posts.forEach(function(post){ %>
        <div class="container">
            <img src="/images/uploads/<%= post.cover %>">
            <%= post.heading %>
            <%= post.date %>
            <%= post.body %>
        </div>
    <%= }) %>
</div>
<% include ./partials/footer.ejs %>