<% include ./partials/header.ejs %>
  <div class="container">
    <img src="/images/uploads/<%= user.profileImage %>" alt="/images/uploads/default.png">
    <h1>
      <%= user.username %>
    </h1>
    <h3>
      <%= user.name %>
    </h3>
    <h4>
      <%= user.bio %>
    </h4>
    <div class="px-6 mt-5">
      <a class="px-3 py-2 bg-zinc-800 text-xs rounded-md" href="/edit">Edit Profile</a>
    </div>
    <div class="px-6 mt-5">
      <a class="px-3 py-2 bg-zinc-800 text-xs rounded-md" href="/feed">feed</a>
    </div>
    <div class="px-6 mt-5">
      <a class="px-3 py-2 bg-zinc-800 text-xs rounded-md" href="/upload">Upload a Blog</a>
    </div>
    <div class="px-6 mt-5">
      <a class="px-3 py-2 bg-zinc-800 text-xs rounded-md" href="/search">Search</a>
    </div>
    <div class="posts w-full flex gap-1 py-2 mt-5 flex-wrap" id="postArea">
      <% user.posts.forEach(function(posts){ %>
        <div class="post w-[32.5%] h-32 bg-sky-100 overflow-hidden">
          <img class="h-full w-full object-cover" src="/images/uploads/<%=posts.cover%>">
          <h5>
            <%= posts.heading %>
          </h5>
          <a class="px-3 py-2 bg-zinc-800 text-xs rounded-md" href="/delete/post/<%= posts._id %>">Delete</a>
        </div>
        <% }); %>
    </div>
  </div>
  <% include ./partials/footer.ejs %>